#headers h1 {
    height:90px;
}

#salutation {
    background:#f99;
    width:200px;
    margin:5px;
    padding:5px;
    border:1px solid black;
    position:absolute;
    top:0px;
    right:0px;
}

#navigation {
    margin: 5px 0 5px auto;
}

#navigation .menu {
    background:#fff;
}

#navigation .menu li {
    margin: 0 5px 0 0;
}

google-adsense-referral
{
  font-size:9pt;
  padding:11px;
}

.google-adsense-referral a
{
  text-decoration:none;
  color:#f99;
}
.google-adsense-referral a:hover
{
  text-decoration:underline;
  color:#fBB;
}

.google-sitesearch
{
  background:white;
  position:absolute;
  top:5px;
  right:250px;
  font-size:9pt;
  width:250px;
  border:2px solid black;
}

.google-adsense
{
  padding:0px;
  margin: 5px 0;
}

