a, img {
    border: none;
}

#headers {
    height:100px;
}

#headers h1 {
    text-align: left;
    height:90px;
    font-family: Monaco, Andale Mono, Arial, Sans serif;
    font-size: 24pt;
    font-weight: bold;
}

#salutation {
    background:#f99;
    margin:0px;
    padding:5px;
    border:1px solid #e88;
}

#navigation {
    margin: 0px;
}

#navigation .menu {
    background:#fff;
}

#navigation .menu li {
    margin: 0;
}

.bifty-list {
    width: 700px;
    margin: 1em auto;
}

.bifty-list td {
    line-height: 1.2em;
}

.bifty-pager {
    text-align:center;
}

.google-adsense-referral
{
  font-size:9pt;
  padding:11px;
}

.google-adsense-referral a
{
  text-decoration:none;
  color:#f99;
}
.google-adsense-referral a:hover
{
  text-decoration:underline;
  color:#fBB;
}

.google-sitesearch
{
  font-size:24pt;
  margin:0px;
  padding:5px;

}

.google-adsense
{
  padding:0px;
  margin: 5px 0;
}

