a, img {
    border: none;
}

p {
    margin: 1em 0;
}

#headers {
    height:100px;
}

#headers .title {
    text-align: left;
    font-family: Monaco, Andale Mono, Arial, Sans serif;
    font-size: 20pt;
    font-weight: bold;
    line-height:35pt;
    color: #499ede;
    text-shadow: 3px 3px 3px #def;
    border:none;
    margin-top:-90px;
    margin-left:160px;
    width:600px;
}

#salutation {
    background:#f99;
    margin:0px;
    padding:5px;
    border:1px solid #e88;
}

div#navigation {
    margin: 0px;
    width: 100%;
}

div#navigation ul {
    width: 100%;
}

div#navigation .menu {
    background:#fff;
}

div#navigation .menu li {
    margin: 0;
}

.bifty-list {
    width: 700px;
    margin: 1em auto;
}

.bifty-list td {
    line-height: 1.2em;
}

.bifty-pager {
    text-align:center;
}

.google-adsense-referral
{
  font-size:9pt;
  padding:11px;
}

.google-adsense-referral a
{
  text-decoration:none;
  color:#f99;
}
.google-adsense-referral a:hover
{
  text-decoration:underline;
  color:#fBB;
}

.google-sitesearch
{
  font-size:24pt;
  margin:0px;
  padding:5px;

}

.google-adsense
{
  padding:0px;
  margin: 5px 0;
}

.entry-title {
    display:none;
    text-align: left;
    font-family: Monaco, Andale Mono, Arial, Sans serif;
    font-size: 24pt;
    font-weight: bold;
    line-height:35pt;
    color: #499ede;
    text-shadow: 3px 3px 3px #def;
}

.entry-meta {
    font-size:9pt;
    color:grey;
}

.entry-meta dt {
    width:50px;
    height:1.5em;
    border-right:1px solid;
}

.entry-meta dd {
    padding-left:15px;
    width:600px;
    overflow:hidden;
    margin-top:-1.5em;
    margin-left:50px;
    height:1.5em;
    text-wrap:no-wrap;
}


.entry-body {
    font-size:16pt;
    margin: 24px 0;
    padding:11px;
    border: 2px solid #aaa;

    -moz-border-radius: 12px;
    border-radius: 12px;
}

.entry-operation {
    border: 2px dotted #aaa;
    text-align:right;
    margin: 5px 0;
    padding: 5px 5px;
}

.comments {
    margin:5px 0;
}

.comments .title {
    font-size:18pt;
}

.comment .entry-meta {
    color:#aaa;
}

.comment .entry-body {
    font-size:11pt;
    margin: 11px 0;
    padding:11px;
    border: none;
}

#htmltagcloud {
  width:75%;
  margin:0 auto;
  line-height:2em;
}
