/* from http://www.456bereastreet.com/lab/csstabs/nested/# */


div#navigation {
        width:100%;
        height:45px;
        position:relative;
}
div#navigation ul {
        width:100%;
        font-family: Tahoma,"Trebuchet MS", sans-serif;
        font-size:11pt
        line-height:11pt;
        color:#000;
}
ul.menu {
        margin:0;
        padding:6px 0 5px 0;
        background-color:#202F66;
        list-style-type:none;
}
ul.menu li {
        display:inline;
        margin:0;
        padding:0;
}
ul.submenu {
        margin:0;
        padding:5px 0;
        list-style-type:none;
        position: absolute;
        top: 24px;
        left:0;
        display:none;
        background-color: transparent;
}
ul.submenu li {
        display:inline;
        margin:0;
        padding:0;
}
ul.submenu li+li {
        border-left:1px solid #ccc;
}
div#navigation ul.menu li:hover ul.submenu {
    display:block;
}

div#navigation a:link,
div#navigation a:visited,
div#navigation a:hover {
        text-decoration:none;
        padding:5px 9px;
}
div#navigation ul.menu a:link,
div#navigation ul.menu a:visited,
div#navigation ul.menu a:hover {
        font-weight:bold;
        border:none;
        text-transform:uppercase;
        background:#ccc;
        color:#aaa;
        -moz-border-radius-topleft:11px;
        -moz-border-radius-topright:11px;
}
div#navigation ul.menu a:hover {
        color:rgb(224,124,102);
}
div#navigation ul.menu li.active a:link,
div#navigation ul.menu li.active a:visited,
div#navigation ul.menu li.active a:hover {
        color:rgb(224,124,102);
        background:rgb(255,252,221);
}
div#navigation ul.submenu a:link,
div#navigation ul.submenu a:visited,
div#navigation ul.submenu a:hover {
        font-weight:normal;
        border:0;
        -moz-border-radius-topleft:0;
        -moz-border-radius-topright:0;
        -moz-border-radius-bottomleft:11px;
        -moz-border-radius-bottomright:11px;
}
div#navigation ul.submenu a:hover {
        text-decoration:underline;
}
