<&|/_elements/wrapper, title => Jifty->config->framework('ApplicationName') &>

<% Jifty->web->link( url => '/post', label => _('Write a new blog') ) %>

% while (my $post = $posts->next) {
<div class="entry">
    <h3 class="entry-header"><% $post->title %></h3>
    <div class="entry-meta">
      <em><% $post->tags %></em>
      <em class="date"><% $post->created_on %></em>
    </div>
    <div class="entry-body">
      <% $post->body %>
    </div>
</div>
<hr />
% }
</&>
<%init>
my $posts = Bifty::Model::PostCollection->new();
$posts->unlimit();
$posts->order_by( column => 'created_on', order => 'DES' );
</%init>
